[Unit]
Description=discord-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/discord-template
ExecStart=/opt/discord-template/discord-template.mjs
EnvironmentFile=/opt/discord-template/.env

[Install]
WantedBy=multi-user.target
