[Unit]
Description=project-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/project-template
ExecStart=/opt/project-template/project-template.mjs
EnvironmentFile=/opt/project-template/.env

[Install]
WantedBy=multi-user.target
